{# Copyright 2015, 2016 Francis Meyvis #}
{# Render a googlemaps object (part of the Grav googlemaps plugin)#}
<div class="googlemaps_container">
    {# actual google map #}
    <div id="{{googlemaps.tagid}}" class="googlemaps" ></div>
    {# the information when clicking on a KML marker #}
    <div id="{{googlemaps.tagid}}KmlInfo" ></div>
    {# the KML status (by default disabled) #}
    <div id="{{googlemaps.tagid}}KmlStatus" ></div>
    <script>
        {# these JS variables become globals: making these unique by their tagid #}
        var mapOptions{{googlemaps.tagid}}     = {{googlemaps.mapOptions|json_encode|raw}};
        var displayOptions{{googlemaps.tagid}} = {{googlemaps.displayOptions|json_encode|raw}};
        var controlStyle{{googlemaps.tagid}}   = {{googlemaps.controlStyle|json_encode|raw}};
    </script>
</div>
