{# Copyright 2015 Francis Meyvis #}

{## Render a googlemaps object (part of the Grav googlemaps plugin)#}

<div>
    {# actual google map #}
    <div id="{{googlemaps.tagid}}" class="googlemaps"></div>

    {# the information when clicking on a KML marker #}
    <div id="{{googlemaps.tagid}}KmlInfo"></div>

    {# the KML status (by default disabled) #}
    <div id="{{googlemaps.tagid}}KmlStatus"></div>
</div>


<script>
    {# these JS variables become globals: making these unique by their tagid #}
    var mapOptions{{googlemaps.tagid}} = {{googlemaps.mapOptions|json_encode|raw}};
    var displayOptions{{googlemaps.tagid}} = {{googlemaps.displayOptions|json_encode|raw}};

    {# the map's type is a JS string constant: needs separate handling #}
    mapOptions{{googlemaps.tagid}}.mapTypeId = {{googlemaps.mapOptions.mapTypeId}};

    {# initialize the map, markers and KML (if present) #}
    google.maps.event.addDomListener(window, "load", function() {
        initGoogleMaps(
            "{{googlemaps.tagid}}", mapOptions{{googlemaps.tagid}}, displayOptions{{googlemaps.tagid}});
    });
</script>